{% extends "layouts/mmw-concept-1-blank.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
 
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">My cases</h2>
    <div class="" id="">
      
      <table class="govuk-table">
        <caption class="govuk-table__caption"> Showing 4 of 12  cases</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Customer</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Case Description</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Created on</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Date Due</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Last action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link" href="case-details">QQ 12 34 56 A</a></td>
            <td class="govuk-table__cell" data-sort-value="6961">Initial claim</td>
            <td class="govuk-table__cell">01 Mar 2026</td>
            <td class="govuk-table__cell">01 Mar 2026</td>
            <td class="govuk-table__cell">Review : Allocated <br>Team : Decision makers<br>05 Mar 2026 </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link" href="case-details-2">QQ 23 55 78 B</a></td>
            <td class="govuk-table__cell" data-sort-value="6961">Initial claim</td>
            <td class="govuk-table__cell">01 Mar 2026</td>
            <td class="govuk-table__cell">05 Mar 2026</td>
            <td class="govuk-table__cell">Review : Allocated <br>Team : Decision makers <br>05 Mar 2026 </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">QQ 34 56 78 C</a></td>
            <td class="govuk-table__cell" data-sort-value="6961">Appeal</td>
            <td class="govuk-table__cell">01 Mar 2026</td>
            <td class="govuk-table__cell">10 Mar 2026</td>
            <td class="govuk-table__cell">Change : Completed <br>Team : Admin<br>05 Mar 2026 </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">QQ 11 22 33 D</a></td>
            <td class="govuk-table__cell" data-sort-value="6961">Additional claim</td>
            <td class="govuk-table__cell">01 Mar 2026</td>
            <td class="govuk-table__cell">10 Mar 2026</td>
            <td class="govuk-table__cell">Change : Unallocated  <br>Team : Admin<br>05 Mar 2026 </td>
          </tr>
        </tbody>
      </table>
      <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>


{% endblock %}
