//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.grey-bg {
    background-color: #f4f8fb;
}

.case-section-container {
    background-color: #ffffff;
    border: 1px solid 	#cecece;
    padding:16px;
    margin-bottom:60px;
}