registry=https://registry.npmjs.org/

# DWP GOV.UK package scope → GitLab
@dwp-govuk:registry=https://registry.npmjs.orgjs-proxy-upstream/

# Core DWP frontend packages → Nexus
@dwp:registry=https://registry.npmjs.org/
