{% extends "layouts/mmw-case.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Task created
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Task [Task Name] successfully created and placed in [WORKSTREAM] queue.
    </h3>
    
  </div>
</div>
  <div class="govuk-grid-column-two-thirds">
    
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Case details</h1>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">
          
          <a type="submit" class="govuk-button govuk-button--secondary" href="create-task">
            Create new task
          </a>
          <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Put on hold
          </button> -->
        </div>
      </div>
    </div>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Date received
        </dt>
        <dd class="govuk-summary-list__value">
          12 Mar 2026
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Created by
        </dt>
        <dd class="govuk-summary-list__value">
          [Agent Name]
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Due date
        </dt>
        <dd class="govuk-summary-list__value">
          30 Mar 2026
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-tag govuk-tag--grey">Awaiting response</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">07700 900457</p>
          <p class="govuk-body">customer.email@example.com</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> contact details</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </li>
          </ul>
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">
    Representative
  </h2>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Darren Peterson
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationship
            </dt>
            <dd class="govuk-summary-list__value">
              Grandson
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone
            </dt>
            <dd class="govuk-summary-list__value">
              +44790567776
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              12 Street name<br>Road, City, SW1 1AA
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <h2 class="govuk-heading-m">Tasks</h2>
    
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Verify Citizen Address Details 01
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="task-details">View<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent
            </dt>
            <dd class="govuk-summary-list__value">
              568907543
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Team
            </dt>
            <dd class="govuk-summary-list__value">
              Claims one
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag--blue">Completed</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Due date
            </dt>
            <dd class="govuk-summary-list__value">
              12 Mar 2026
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Eligible Employment Status GB
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent
            </dt>
            <dd class="govuk-summary-list__value">
              [Agent name]
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Team
            </dt>
            <dd class="govuk-summary-list__value">
              Claims one
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag--yellow">Active</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Due date
            </dt>
            <dd class="govuk-summary-list__value">
              12 Apr 2026
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Verify Employment Details 02
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent
            </dt>
            <dd class="govuk-summary-list__value">
              568907543
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Team
            </dt>
            <dd class="govuk-summary-list__value">
              Claims one
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag--blue">Completed</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Due date
            </dt>
            <dd class="govuk-summary-list__value">
              12 Mar 2026
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Process Decision
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent
            </dt>
            <dd class="govuk-summary-list__value">
              [Agent name]
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Team
            </dt>
            <dd class="govuk-summary-list__value">
              Decision makers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag--grey">Unallocated</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Due date
            </dt>
            <dd class="govuk-summary-list__value">
              20 Apr 2026
            </dd>
          </div>
        </dl>
      </div>
    </div>
   
  </div>  
  <div class="govuk-grid-column-one-third">
    
   
  </div> 
</div>

{% endblock %}
