{% extends "layouts/mmw-case.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<!-- 
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <div class="govuk-form-group" data-testid="form-group-id">
      <h1 class="govuk-heading-l">Benefits Amount 00 for Jane Doe</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="Customer">Customer</dt>
        <dd class="govuk-summary-list__value">Shawn Hurst</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="National Insurance number">National Insurance number</dt>
        <dd class="govuk-summary-list__value">GY553298G</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="Task">Task</dt>
        <dd class="govuk-summary-list__value">Benefits Amount 00</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" aria-label="Change task type" href="/tasks-ui/agent/select-task-type">Change
            <span class="govuk-visually-hidden"> task type</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="Due">Due</dt>
        <dd class="govuk-summary-list__value">19 February 2027 at 09:07</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="Created">Created</dt>
        <dd class="govuk-summary-list__value">19 February 2026 at 09:07</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="Status">Status</dt>
        <dd class="govuk-summary-list__value">
          <strong role="status" class="govuk-tag govuk-tag--green govuk-!-font-weight-bold">ACTIVE</strong>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/tasks-ui/agent/put-on-hold">Put on hold</a>
        </dd>
      </div>
    </dl>
  </div>
    
    <div class="govuk-button-group">
      <a class="govuk-button" href="case-details-noti">
        Close task
      </a>
      <a class="govuk-button govuk-button--secondary" href="govuk-button">
        Return to queue
      </a>
      <a class="govuk-button govuk-button--secondary" href="govuk-button">
        Back
      </a>
    </div>
    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
  
</div>

{% endblock %}
