{% extends "layouts/mmw-concept-1-blank-tl.html" %}

{% set pageName="Home" %}
{% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}


{% block content %}

<div class="govuk-grid-row ">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Sue Benjamin
    </h1>
    <div class="govuk-!-width-two-thirds">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case types
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                Initial claim
              </li>
              <li>
                Final claim
              </li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cases allocated
          </dt>
          <dd class="govuk-summary-list__value">
            56
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">view<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
      </dl>
    </div>
    <div>
    </div>







    {% endblock %}