{% extends "layouts/mmw-concept-1-blank-tl.html" %}

{% set pageName="Home" %}
{% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}


{% block content %}

<div class="govuk-grid-row ">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Team [Team Name]'s Work
    </h1>
    <div class="govuk-!-padding-bottom-5">
      <h2 class="govuk-heading-m">Overview</h2>
      <p>This shows the number of cases that were created / received and closed in the last 24 hours. Click on View to
        see more information.</p>
      <div class="govuk-body panel blue">
        <div class="count">23</div>
        <div class="stat">New cases recevied</div>
        <span><a href="">view</a></span>
      </div>
      <div class="govuk-body panel blue">
        <div class="count">23</div>
        <div class="stat">Closed cases</div>
        <span><a href="">view</a></span>
      </div>
    </div>
    <div class="govuk-!-padding-bottom-5">
      <h2 class="govuk-heading-m">Active cases</h2>

      <div class="govuk-body panel blue">
        <div class="count">45</div>
        <div class="stat">Unallocated cases</div>
        <span><a href="">view</a></span>
      </div>
      <div class="govuk-body panel blue">
        <div class="count">23</div>
        <div class="stat">Allocated cases</div>
        <span><a href="">view</a></span>
      </div>
      <div class="govuk-body panel red">
        <div class="count">6</div>
        <div class="stat">Overdue cases</div>
        <span><a href="">view</a></span>
      </div>
    </div>

    <div>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">All open cases sorted by type</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">New (in last 24 hours)</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Unallocated</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allocated</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">View</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Initial claim</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">16</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">95</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="cases-by-type" class="govuk-link">List of
                cases</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Initial review</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">List of
                cases</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Final review</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">28</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">List of
                cases</a></td>
          </tr>
        </tbody>
      </table>
    </div>







    {% endblock %}