{% extends "layouts/mmw-concept-1-blank.html" %}

{% set pageName="Case tasks" %}
{% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}



{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <span class="govuk-caption-m">Initial claim</span>
        <h1 class="govuk-heading-l">Case 88888888888</h1>
        <span class="govuk-caption-m govuk-!-static-margin-bottom-2">Jane Doe QQ 12 34 56 X</span>
        <strong class="govuk-tag govuk-tag--green">
          Active
        </strong>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">

          <a href="transfer-case" class="govuk-button govuk-button--secondary">
            Transfer case
          </a>
          <a href="close-case" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Close case
          </a>
        </div>
      </div>
    </div>
    {{
    dwpHorizontalNavigation({
    selectedItem: "case-notes",
    items: [
    {
    text: "Details",
    href: "case-details-v2",
    id: "s-item-1"
    },
    {
    text: "Tasks",
    href: "case-tasks",
    id: "s-item-2"
    },
    {
    text: "Notes",
    href: "case-notes",
    id: "s-item-3"
    },
    {
    text: "BFs",
    href: "case-bfs",
    id: "s-item-4"
    },
    {
    text: "Documents",
    href: "case-documents",
    id: "s-item-4"
    }
    ]
    })
    }}


    <div class=" govuk-!-static-padding-top-5">
      <div class="moj-page-header-actions govuk-static-margin-top-6">
        <div class="moj-page-header-actions__title">
          <h2 class="govuk-heading-m">Notes</h2>
        </div>
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-group moj-button-group--inline">
            <a class="govuk-button govuk-button--secondary" href="add-case-note">
              Add case note
            </a>
          </div>
        </div>
      </div>
      <div class="">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-static-margin-bottom-0">12th May 2026</h3>
            <p class="body">
              <span class=" "><b>Agent :</b> 997647896</span>
              <!-- <span class=""><b>Task type:</b> Change of circumstances</span><br> -->
              <span class=" "><b>Team:</b> Admin</span>
            </p>
          </div>
          <div class="govuk-grid-column-two-thirds govuk-body">
            <!-- <h2 class="govuk-heading-m"></h2> -->


            <span class="govuk-tag govuk-tag--orange ">Task note</span><br><br>
            <p class="govuk-body">Customer requested an update of the claim and would like to add another child the
              claim,
              they were advised on the
              requirements for this request and informed us that they would send in all requiredevidence to support the
              claim for an aditional child within
              two weeks</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <span class=" "><b>Agent :</b> 997647896</span>
            <!-- <span class=""><b>Task type:</b> Change of circumstances</span><br> -->
            <span class=" "><b>Team:</b> Admin</span>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-heading-s govuk-!-static-margin-bottom-0">4th May 2026</span>
            <span class="govuk-hint">Agent : 997647896</span>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <!-- <h2 class="govuk-heading-m"></h2> -->
            <span class="govuk-tag govuk-tag--purple">Case note</span><br><br>
            <p class="govuk-body">Customer requested an update of the claim and would like to add another child the
              claim,
              they were advised on the
              requirements for this request and informed us that they would send in all requiredevidence to support the
              claim for an aditional child within
              two weeks</p>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-heading-s govuk-!-static-margin-bottom-0">2 May 2026</span>
            <span class="govuk-hint">Agent : 997647896</span>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <!-- <h2 class="govuk-heading-m"></h2> -->
            <span class="govuk-tag govuk-tag--teal">BF note</span><br><br>
            <p class="govuk-body">Customer requested an update of the claim and would like to add another child the
              claim,
              they were advised on the
              requirements for this request and informed us that they would send in all requiredevidence to support the
              claim for an aditional child within
              two weeks</p>
          </div>
        </div>
      </div>



      {% endblock %}