{% extends "layouts/mmw-concept-1-blank.html" %}

{% set pageName="Case tasks" %}
{% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}



{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <span class="govuk-caption-m">Initial claim</span>
        <h1 class="govuk-heading-l">Case 88888888888</h1>
        <span class="govuk-caption-m govuk-!-static-margin-bottom-2">Jane Doe QQ 12 34 56 X</span>
        <strong class="govuk-tag govuk-tag--green">
          Active
        </strong>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">

          <a href="transfer-case" class="govuk-button govuk-button--secondary">
            Transfer case
          </a>
          <a href="close-case" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Close case
          </a>
        </div>
      </div>
    </div>
    {{
    dwpHorizontalNavigation({
    selectedItem: "case-tasks",
    items: [
    {
    text: "Details",
    href: "case-details-v2",
    id: "s-item-1"
    },
    {
    text: "Tasks",
    href: "case-tasks",
    id: "s-item-2"
    },
    {
    text: "Notes",
    href: "case-notes",
    id: "s-item-3"
    },
    {
    text: "BFs",
    href: "case-bfs",
    id: "s-item-4"
    },
    {
    text: "Documents",
    href: "case-documents",
    id: "s-item-5"
    }
    ]
    })
    }}

    <div class="moj-page-header-actions govuk-!-static-padding-top-5">
      <div class="moj-page-header-actions__title">
        <h2 class="govuk-heading-m">Tasks</h2>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">
          <a href="create-task-what-do-you-need-to-do" class="govuk-button govuk-button--secondary"
            data-module="govuk-button" data-govuk-button-init="">
            Create task
          </a>
        </div>
      </div>
    </div>
    <div class="case-section-conainer">
      <table class="govuk-table">
        <!-- <caption hidden="hidden" id="account-interests-table" class="visible-hidden govuk-table__caption"> Case: 222222222 tasks
      </caption> -->
        <thead class="govuk-table__head">
          <tr role="row" class="govuk-table__row">
            <th scope="col" role="columnheader" class="govuk-table__header current-start-col">Date created</th>
            <th scope="col" role="columnheader" class="govuk-table__header current-start-col">Date due</th>
            <th scope="col" role="columnheader" class="govuk-table__header current-interest-col">Task details </th>
            <td aria-hidden="true" class="govuk-table__header current-third-col">
            </td>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell"> 12th May 2026
            </td>
            <td class="govuk-table__cell current-start-cell"> 12th May 2026
            </td>
            <td class="govuk-table__cell current-interest-cell">
              <span class="govuk-heading-s govuk-!-static-margin-bottom-0">Claim</span>
              <span>Team: Admin</span><br>
              <span>Status: </span><span class="govuk-tag govuk-tag--green">Active</span>
            </td>
            <td class="govuk-table__cell current-third-cell">
              <a _ngcontent-ng-c311355542="" href="task-details" style="float: right;">View details</a>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell"> 17 Sep 2024 </td>
            <td class="govuk-table__cell current-start-cell"> 12th May 2026
            </td>
            <td class="govuk-table__cell current-interest-cell">
              <span class="govuk-heading-s govuk-!-static-margin-bottom-0">Change of circumstances</span>
              <span>Team: Admin</span><br>
              <span>Status: </span><span class="govuk-tag govuk-tag--blue">Completed</span>
            </td>
            <td class="govuk-table__cell current-third-cell"><span style="float: right;"><app-view-maintenance
                  _nghost-ng-c311355542=""><!---->
                  <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container"><a
                      _ngcontent-ng-c311355542="" href="#"
                      aria-label="View current-interest-1 maintenance, click then press tab for content"
                      data-qa="maintenance-for-current-interest-1" id="maintenance-for-current-interest-1">View
                      details</a>
                    <div _ngcontent-ng-c311355542="" tabindex="-1" id="current-interest-1-holding-area"></div>
                  </div>
                </app-view-maintenance><!----></span></td>
          </tr><!---->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell"> 27 Jun 2022 </td>
            <td class="govuk-table__cell current-start-cell"> 12th May 2026
            </td>
            <td class="govuk-table__cell current-interest-cell">
              <span class="govuk-heading-s govuk-!-static-margin-bottom-0">Change of address</span>
              <span>Team: Admin</span><br>
              <span>Status: </span><span class="govuk-tag govuk-tag--green">Active</span>
            </td>
            <td class="govuk-table__cell current-third-cell"><span style="float: right;"><app-view-maintenance
                  _nghost-ng-c311355542=""><!---->
                  <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container">
                    <a _ngcontent-ng-c311355542="" href="#"
                      aria-label="View current-interest-2 maintenance, click then press tab for content"
                      data-qa="maintenance-for-current-interest-2" id="maintenance-for-current-interest-2">View
                      details</a>
                    <div _ngcontent-ng-c311355542="" tabindex="-1" id="current-interest-2-holding-area"></div>
                  </div>
                </app-view-maintenance><!----></span></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell last-row-cell"> 16 Dec 2017
            </td>
            <td class="govuk-table__cell current-start-cell"> 12th May 2026
            </td>
            <td class="govuk-table__cell current-interest-cell last-row-cell">
              <span class="govuk-heading-s govuk-!-static-margin-bottom-0">Mandatory Reconsideration</span>
              <span>Team: Decision makers</span><br>
              <span>Status: </span><span class="govuk-tag govuk-tag--yellow">Unallocated</span>
            </td>
            <td class="govuk-table__cell current-third-cell last-row-cell"><span style="float: right;"><a href="">View
                  details</a></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>




{% endblock %}