{% extends "layouts/mmw-concept-1.html" %}

{% set pageName="Home" %}



<div class="govuk-grid-row">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  
  {% block containerStart %}
    {{ govukBackLink({
      text: "Back",
      href: "#"
    }) }}
  {% endblock %}
  
  {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
  
        <h1 class="govuk-heading-l">Review task</h1>
  
        <h2 class="govuk-heading-m">Task details</h2>
  
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Type"
              },
              value: {
                text: "task type name"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "task type"
                  }
                ]
              }
            },
            {
              key: {
                text: "Due date"
              },
              value: {
                text: "5 January 1978"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Note"
              },
              value: {
                text: "Not provided"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "customer reference"
                  }
                ]
              }
            }
          ]
        }) }}

  
        <form action="" method="post" novalidate>
  
          <input type="hidden" name="answers-checked" value="true">
  
          {{ govukButton({
            text: "Create task"
          }) }}
  
        </form>
  
      </div>
    </div>
  {% endblock %}
</div>


