{% extends "layouts/mmw-concept-blank.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row grey-bg">
 
  <div class="govuk-grid-column-full">
   
    <form action="find-a-case-results" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Find a case
          </label>
        </h1>
        <div id="search-hint" class="govuk-hint moj-search__hint ">
          You can search by name, date of birth or National Insurance number
        </div>
        <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
      </div>
      <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
        Search
      </button>
    </form>



 

{% endblock %}
