{% extends "layouts/main-side-nav.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}
{% include "govuk-prototype-kit/includes/homepage-top.njk" %}
{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">





    {{
    dwpSideNavigation({
    pageId: "side-navigation-2",
    selectedItem: "concepting",
    items: [
    {
    text: "MVP",
    href: "index",
    id: "mvp"
    },
    {
    text: "Concepting",
    href: "concepting",
    id: "concepting"
    },
    {
    text: "Belfast co design",
    href: "belfast",
    id: "belfast"
    },
    {
    text: "Concept research",
    href: "concept-research",
    id: "concept-research"
    },
    {
    text: "Provoke-a-types",
    href: "provoke-a-types",
    id: "provoke-a-types"
    }
    ]
    })
    }}

  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Concepting
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Journeys</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="concepts/teamleader/home.html" class="govuk-link" target="_blank">Team leader home</a>
          </th>
          <td class="govuk-table__cell">Visualising a dashboard when team leaders enter the service <span
              class="govuk-tag ">Work in progress</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="concepts/two/home" class="govuk-link" target="_blank">Agent home</a>
          </th>
          <td class="govuk-table__cell">Iteration of concept one with feedback from co design.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="concepts/two/case-details-v2" class="govuk-link" target="_blank">new concept for case details
              screen</a>
          </th>
          <td class="govuk-table__cell">Design concept for case details screen <span class="govuk-tag ">Work in
              progress</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}