{% extends "layouts/main-side-nav.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}
{% include "govuk-prototype-kit/includes/homepage-top.njk" %}
{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">





    {{
    dwpSideNavigation({
    pageId: "side-navigation-2",
    selectedItem: "concepting",
    items: [
    {
    text: "MVP",
    href: "index",
    id: "mvp"
    },
    {
    text: "Concepting",
    href: "concepting",
    id: "concepting"
    },
    {
    text: "Belfast co design",
    href: "belfast",
    id: "belfast"
    },
    {
    text: "Provoke-a-types",
    href: "provoke-a-types",
    id: "provoke-a-types"
    }
    ]
    })
    }}

  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Concepting
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Journeys</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="concepts/teamleader/home.html" class="govuk-link" target="_blank">Team leader home</a>
          </th>
          <td class="govuk-table__cell">Allows users to give feedback about a page, feature or overall service.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="concepts/two/home" class="govuk-link" target="_blank">Agent home</a>
          </th>
          <td class="govuk-table__cell">Different types of search across a list, table, page, or product.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="https://github.com/DFE-Digital/dfe-frontend/issues/13" class="govuk-link" target="_blank">Pausing
              work</a>
          </th>
          <td class="govuk-table__cell">Displaying performance data about a product or service consistently.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="https://github.com/DFE-Digital/dfe-frontend/issues/9" class="govuk-link"
              target="_blank">Transferring work</a>
          </th>
          <td class="govuk-table__cell">Presenting video along with transcripts ensuring they are accessible.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}