{% extends "layouts/main-side-nav.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}
{% include "govuk-prototype-kit/includes/homepage-top.njk" %}
{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{
    dwpSideNavigation({
    pageId: "side-navigation-2",
    selectedItem: "provoke-a-types",
    items: [
    {
    text: "MVP",
    href: "index",
    id: "mvp"
    },
    {
    text: "Concepting",
    href: "concepting",
    id: "concepting"
    },
    {
    text: "Belfast co design",
    href: "belfast",
    id: "belfast"
    },
    {
    text: "Concept research",
    href: "concept-research",
    id: "concept-research"
    },
    {
    text: "Provoke-a-types",
    href: "provoke-a-types",
    id: "provoke-a-types"
    }
    ]
    })
    }}


  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Provoke-a-types
    </h1>

    <div>
      <p class="govuk-body">
        While in the early stages of the project we utilised provoke-a-types to visuealise the problem space. These we
        used to create visuals to
        discuss as a team via lucid boards. Some interactions will not work as these were created as disposable designs
        to discuss and not test.
      </p>
    </div>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Journeys</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="provoke-a-types/create-a-case/index" class="govuk-link" target="_blank">Create a case</a>
          </th>
          <td class="govuk-table__cell">Exploring the process of manually creating cases journey consists of :
            <ol class="govuk-list govuk-list--number">
              <li>Capturing case meta data</li>
              <li>Adding one or more customer</li>
              <li>Reviwing data prior to creating case</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="provoke-a-types/find-a-case" class="govuk-link" target="_blank">Find a
              case</a>
          </th>
          <td class="govuk-table__cell">Allowing users to enter a name or NINO and be return any matches these can be
            both closed and open cases.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="provoke-a-types/my-cases-nino-bf" class="govuk-link" target="_blank">Pausing
              work</a>
          </th>
          <td class="govuk-table__cell">Allowing user to pause/put on hold/BF a case
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="provoke-a-types/my-cases-nino-bf" class="govuk-link" target="_blank">Transferring tasks</a>
          </th>
          <td class="govuk-table__cell">Allowing users to transer a task to another agent or function</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="provoke-a-types/my-cases-nino-bf" class="govuk-link" target="_blank">Handing over a case</a>
          </th>
          <td class="govuk-table__cell">Allowing users to Handover an entire case to another function or agent.</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}